/* General body style */
body {
    font-family: Arial, sans-serif;
    background-color: #58786e;
    margin: 0;
    padding: 0;
    padding: 50px;
    text-align: center;
    color: #fefefe;
}

/* Header style */
header {
    background-color: #58786e;
    color: #cad1c5;
    padding: 20px;
    text-align: center;
}

/* Navigation bar */
nav {
    background-color: #35464b;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #cad1c5;
    text-decoration: none;
    padding: 8px 16px;
}

nav a:hover {
    background-color: #88a98b;
    border-radius: 4px;
}

/* Page sections */
main, .container {
    padding: 20px;
}

section {
    background-color: #58786e;
    color: #cad1c5;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1, h2 {
    margin-top: 0;
    background-color: #88a98b;
    color: #fefefe;
    display: inline-block;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Forms */
form {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: #58786e;
    color: #fefefe;

}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cad1c5;
    background-color: #fefefe;
    color: #35464b;
    border-radius: 4px;
}

/* Buttons */
button {
    background-color: #88a98b;
    color: #fefefe;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #58786e;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fefefe;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #cad1c5;
}

th, td {
    padding: 10px;
    text-align: left;
    background-color: #fefefe;
}

th {
    background-color: #cad1c5;
}

/* Links */
a {
    color: #cad1c5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #fefefe;
}
