<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title> Enter OTP </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h2> One-Time Password Verification </h2>
        <p> Please enter the OTP you received in your email.</p>
        <form action= "/otp_check" method="post">
            <label for="otp">One-Time Password:</label><br>
            <input type="text" id="otp" name="otp" required><br>
            <button type="submit">Verify</button>
            </form>
    </body>
</html>
